<li class="HorizontalList__Item" aria-haspopup="true">
                <a href="/collections/canadian-dealer" class="Heading u-h6">Wholesale</a><div class="DropdownMenu" aria-hidden="true">
                    <ul class="Linklist"><li class="Linklist__Item">
                          	<a href="/collections/bikes" class="Link Link--secondary">Bikes</a></li><li class="Linklist__Item">
                         	<a href="/collections/accessories" class="Link Link--secondary">Accessories</a></li><li class="Linklist__Item">
                       		<a href="/collections/small-parts" class="Link Link--secondary">Small Parts</a></li><li class="Linklist__Item">
                      		
                  </div></li>